# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Build files
build/
dist/
*.spec
installer_output/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# User data
sounds/*.mp3
sounds/*.wav
sounds/*.ogg
sounds/*.flac
config.json

# Keep folder structure
!sounds/.gitkeep